$white: #eee
$black: #1E1F27

@mixin flexCenter
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

::selection
	background-color: rgba($white, 0.5)

::-webkit-scrollbar
	width: 0

*
	box-sizing: border-box
	// border: 1px solid white

html, body
	margin: 0
	padding: 0

html
	+flexCenter
	font-size: 0.83vw
	scroll-behavior: smooth

body
	+flexCenter
	font-family: 'Noto Serif JP', serif
	color: $white
	background-color: $black
	width: 83.28125vw

.catalog
	margin: 3rem 0
	margin-top: 7rem
	padding: 0 15%
	text-align: center
	
.button
	margin: 0.3rem
	padding: 3px 6px
	display: inline-block
	font-size: 1.5rem
	color: $white
	background-color: rgba($white, 0.1)
	cursor: pointer
	&:hover
		background-color: rgba($white, 0.25)
	
section
	margin-bottom: 1.5rem
	padding: 0 0.7rem
	height: 100vh // make window.scrollTo() enable
	text-align: center
	&:last-child
		margin-bottom: 0

h1
	padding-left: 0.8rem
	font-size: 3.2rem
	font-weight: 600
	
img
	margin: 0.7%
	width: calc(50% - 0.7% * 2)

@media screen and (max-width: 900px)
	html
		font-size: 12px

	body
		width: 100vw

	h1
		font-size: 2.8rem

	img
		width: 99%