<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghibli Gallery - スタジオジブリ作品の場面写真</title>
    <meta name="description" content="Remaster Stdio Ghibli's Work Album with Vue 3.0">
    <meta name="keywords" content="japanese,anime,poster,ghilbi,スタジオジブリ,gallery,draw,movie,写真,場面写真,picture,かぐや姫の物語,風立ちぬ,コクリコ坂から,借りぐらしのアリエッティ,崖の上のポニョ,ゲド戦記,ハウルの動く城,猫の恩返し,千と千尋の神隠し,もののけ姫,平成狸合戦ぽんぽこ,海がきこえる,紅の豚,魔女の宅急便,となりのトトロ,輝夜姬,風起,借物少女,地海戰記,霍爾的移動城堡,貓的報恩,神隱少女,平成狸合戰,紅豬,魔女宅急便,龍貓">
    <meta name="author" content="Ray Chang">
    <link rel="icon" href="img/ghibli_logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap">
    <link rel="stylesheet" href="./css/style.min.css">
  </head>
  <body style="overflow: hidden;">
    <div id="app">
      <div
        class="loading"
        v-if="isLoading"
        @touchstart.prevent
        @contextmenu.prevent
        @selectstart.prevent
        @dragstart.prevent
      >
        <img src="./img/logo_transparent.png">
      </div>
      <div class="container">
        <div class="catalog">
          <a
            href="#title"
            v-for="(item, idx) in works.data"
            :key="item.name"
            @click="changeAlbum(idx)"
            @contextmenu.prevent
            @selectstart.prevent
            @dragstart.prevent
          >
            {{item.name}}
          </a>
        </div>
        <section>
          <h1 id="title">
            {{works.data[currentIdx].name}}
            ({{works.data[currentIdx].publicTime}})
          </h1>
          <img
            v-for="(num, idx) in works.data[currentIdx].numsOfImage"
            :src="getImgUrl(idx)"
          />
        </section>
      </div>
      <div
        :class="['to-top-button', {hide: isTopButtonHide}]"
        v-show="!isLoading"
        @click="moveTo(0)"
        @selectstart.prevent
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="48"
            d="M112 328l144-144 144 144"
          />
        </svg>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.4"></script>
    <script src="./js/vue_script.min.js"></script>
  </body>
</html>
