.slider
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100vw
  height: 100vh
  font-size: 1.8rem
  color: $white
  background-color: $black
  .prev, .next, .close
    position: absolute
    width: 1em
    height: 1em
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    opacity: .7
    transition: opacity .3s
    &:hover
      opacity: 1
    img // icon
      margin: 0
      filter: invert(1)
  .prev, .next
    top: 50%
    transform: translateY(-50%)
    font-size: 2em
  .prev
    left: 12rem
  .next
    right: 12rem
  .close
    right: 3rem
    top: 3rem
    font-size: 1.3em
    &:hover
      opacity: .9
  .close.transparent
    opacity: 0
    &:hover
      opacity: .9
  img
    margin-top: 2rem
    width: 70%
    // aspect-ratio: 16 / 9
    // border: .3rem solid rgba($white, .8)
    animation: fadeIn 1.5s ease
  p
    margin: 0
    margin-top: 1rem
    // position: absolute
    // top: (45vh * 1.75)
    text-shadow: $black 0 0 5px;
    letter-spacing: .2rem